


<div class="topnav" id="myTopnav">
  <a href="index.html" class="active">Home</a>
  <a href="about.html">About</a>
  <a href="contact.html">Contact</a>
  </a>
</div>


<body>

<header class="box"> 
  <img src= "images/banner.png" alt="logo" class="center">
</header>


</section> 

</div>  
</body> 

  <script src="script.js"></script>

  <div class="footer"> 
<footer>
  <p>Social Media</p>
   <a href="#" class="fa fa-linkedin"></a>
   <a href="#" class="fa fa-instagram"></a> 
   <a href="#" class="fa fa-facebook"></a>   
</footer>